body {
    font-size: 16px;
}

.mana-symbol {
    height: 16px;
}

.wrap-main {
    width: 100%;
}

.main {
    max-width: 500px;
    margin: 0 auto;
    vertical-align: top;
    width: 100%;
}

.opener-cards {
    display: flex;
    justify-content: space-between;
}

img.card {
    border-radius: 5%;
    overflow: hidden;
    width: 19%;
}

img.card:not(:first-child) {
    margin-left:-5.5%;
}


#autocard-backdrop {
    position: fixed;
    /* Some wiggle room since things move when scrolling */
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    z-index: 998;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    text-align: center;
}

#autocard {
    z-index: 999;
    width: 500px;
    max-width: 50%;
    border-radius: 5%;
    overflow: hidden;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}