html, body {
    font-size: 16px;
    background-color: #295;
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

a, a:visited, .card-name {
    color: #295;
    cursor: pointer;
    text-decoration: none;
}

a:hover, .card-name:hover {
    color: #000;
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
}

.main-wrap, .footer-wrap {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
}

.footer-wrap {
    padding-bottom: 10px;
}

.main-wrap {
    flex: 1 0 auto;
}

.footer-wrap {
    text-align: center;
    flex-shrink: 0;
}

.footer {
    font-size: 10px;
}

.half-width {
    width: 50%;
    display: inline-block;
    margin: 0;
    padding: 0;
    border: 0;
}

#opener-button, #play-button {
    width: 100%;
    padding: 10px;
}

.teaser-wrap, .opener-wrap, .summary-wrap, .button-wrap, .cards-wrap {
    padding: 10px;
}

.teaser {
    font-size: 18px;
}

.teaser-turn-order {
    font-weight: 900;
}

.opener-cards {
    display: flex;
    justify-content: space-between;
}

.mana-symbol {
    height: 16px;
}

.summary-turn {
    margin: 8px 0;
}

p.summary-line {
    margin: 2px 0;
}

img.card {
    border-radius: 5%;
    overflow: hidden;
    width: 19%;
}

img.card:not(:first-child) {
    margin-left:-5.5%;
}

#autocard-backdrop {
    position: fixed;
    /* Some wiggle room since things move when scrolling */
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    z-index: 998;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    text-align: center;
}

#autocard {
    color: #fff;
    z-index: 999;
    width: 500px;
    max-width: 50%;
    border-radius: 5%;
    overflow: hidden;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}