$base-font: 'Roboto', sans-serif;
$head-font: 'Alata', 'Outfit', sans-serif;

$text-color: #222;
$paper-color: #eee;
$accent-color: #295;

$content-width: 45rem;
$autocard-width: 30rem;

$font-size-body: 1.0rem;
$font-size-header: 1.2rem;
$font-size-footer: 0.7rem;

$full-pad: 1.0rem;
$half-pad: 0.5rem;


html {
    font-family: $base-font;
    color: $text-color;
    line-height: 1.3;
    font-size: 14px;
}
@media (min-width: 40em) {
    html { font-size: 16px; }
}
@media (min-width: 55em) {
    html { font-size: 18px; }
}
@media (min-width: 70em) {
    html { font-size: 20px; }
}


html, body {
    background-color: $accent-color;
    margin: 0;
    height: 100%;
}

a, a:visited, .card-name {
    color: $accent-color;
    cursor: pointer;
    text-decoration: none;
}

a:hover, .card-name:hover {
    color: #000;
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
}

#main-wrap, #footer-wrap {
    max-width: $content-width;
    width: 100%;
    margin: 0 auto;
    padding: $full-pad;
    background-color: $paper-color;
}

.head {
    display: flex;
    align-items: center;
    height: 4rem;
}

.head-left, .head-right {
    display: inline-block;
}

.head-left {
    line-height: 0;
}

.author-avatar {
    height: 4rem;
    border-radius: 50%;
    overflow: hidden;
}

.title, .subtitle {
    margin: 0;
}

#about {
    display: none;
}

h1, h2, h3 {
    font-family: $head-font;
    text-transform: lowercase;
}

#footer-wrap {
    padding-bottom: $half-pad;
}

#main-wrap, #about-wrap {
    flex: 1 0 auto;
}

#footer-wrap {
    text-align: center;
    flex-shrink: 0;
}

.footer {
    font-size: $font-size-footer;
}

.half-width {
    width: 50%;
    display: inline-block;
    margin: 0;
    padding: 0;
    border: 0;
}

#opener-button, #play-button {
    width: 100%;
    padding: $half-pad;
}

.teaser-wrap, .opener-wrap, .summary-wrap, .button-wrap, .cards-wrap {
    padding: $half-pad;
}

.teaser {
    font-size: $font-size-header;
}

.teaser-turn-order {
    font-weight: 900;
}

.opener-cards {
    display: flex;
    justify-content: space-between;
}

.mana-symbol {
    height: $font-size-body;
}

.summary-turn {
    margin: $half-pad 0;
}

p.summary-line {
    margin: 0;
}

img.card {
    border-radius: 5%;
    overflow: hidden;
    width: 19%;
}

img.card:not(:first-child) {
    margin-left:-5.5%;
}

#autocard-backdrop {
    position: fixed;
    /* Some wiggle room since things move when scrolling */
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    z-index: 998;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    text-align: center;
}

#autocard {
    color: #fff;
    z-index: 999;
    width: $autocard-width;
    max-width: 50%;
    border-radius: 5%;
    overflow: hidden;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}