<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="Charles Fyfe">
  <title>Amulet Flashcards</title>
  <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
  <link href="/static/css/app.css" rel="stylesheet">
  <!-- HTMX -->
  <script src="/static/js/htmx.min.js"></script>
  <script src="/static/js/app.js"></script>
  <!-- Google Fonts -->
  <link href="//fonts.googleapis.com/css?family=Roboto:400,700|Alata|Outfit" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Shrikhand|Calistoga|Orelega+One|Suez+One&display=swap"
    rel="stylesheet">

</head>

<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>

  <div id="autocard-backdrop" onclick="hide_autocard()">
    <img id="autocard">
  </div>

  <div id="main-wrap">

    <div class="head">

      <div class="head-left">
        <div class="head-avatar">
          <img class="author-avatar" src="/static/images/charles-hair.png">
        </div>
        <div class="head-title">
          <h1 class="title">Amulet Flashcards</h1>
          <div class="subtitle">
            by <a class="author-name" href="https://charles.uno">Charles Fyfe</a>
          </div>
        </div>
      </div>

      <div class="head-right">
        <div id="show-about" onclick="show_about()"><span class="about-toggle center">?</span></div>
        <div id="hide-about" onclick="hide_about()"><span class="about-toggle center">X</span></div>
      </div>

    </div>

    <div id="main" hx-get="/api/opener" hx-trigger="load" hx-swap="innerHTML">
    </div>
    <div id="about" hx-get="/api/about" hx-trigger="load" hx-swap="innerHTML">
    </div>
  </div>

  <div id="footer-wrap">
    <div class="footer">
      <p>
        &copy; Charles Fyfe 2023
        | Unofficial <a href="https://company.wizards.com/en/legal/fancontentpolicy">WOTC Fan
          Content</a>
      </p>
    </div>
  </div>

</body>

</html>