<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
  <link href="/static/css/app.css" rel="stylesheet">
  <script src="/static/js/htmx.min.js"></script>
  <script src="/static/js/app.js"></script>
</head>

<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>

  <div id="autocard-backdrop" onclick="hide_autocard()">
    <img id="autocard">
  </div>

  <div class="main" id="opener-target" hx-get="/api/opener" hx-trigger="load" hx-target="#opener-target"
    hx-swap="innerHTML">
  </div>

  <div class="footer">
    <p>&copy; Charles Fyfe 2023</p>
    <p>Card names and images are owned by <a href="https://magic.wizards.com">Wizards of the Coast</a>. This page is not
      affiliated.</p>
  </div>

</body>

</html>