<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link href="/static/css/app.css" rel="stylesheet">

  <script src="https://unpkg.com/htmx.org@1.8.5"
    integrity="sha384-7aHh9lqPYGYZ7sTHvzP1t3BAfLhYSTy9ArHdP3Xsr9/3TlGurYgcPBoFmXX2TX/w"
    crossorigin="anonymous"></script>

  <script src="/static/js/app.js"></script>


</head>

<body>

  <div id="autocard-backdrop" class="autocard-backdrop" onclick="hide_autocard()">
    <img id="autocard" class="autocard">
  </div>

  <div class="main-wrap">
    <div class="main">

      <div class="button-wrapper">
        <div id="e2e-indicator" class="htmx-indicator">Working...</div>
        <button hx-get="/api/html/e2e" hx-trigger="click" hx-target="#e2e-target" hx-indicator="#e2e-indicator"
          hx-swap="innerHTML">
          Click to run E2E
        </button>
      </div>

      <div id="e2e-target">initial contents</div>

      <div class="button-wrapper">
        <div id="opener-indicator" class="htmx-indicator">Working...</div>
        <button hx-get="/api/html/opener" hx-trigger="click" hx-target="#opener-target" hx-indicator="#opener-indicator"
          hx-swap="innerHTML">
          Click to get opener
        </button>
      </div>
      <div id="opener-target">initial contents</div>

    </div>
  </div>

</body>

</html>