$base-font: 'Roboto', sans-serif;
$head-font: 'Alata', 'Outfit', sans-serif;

$text-color: #222;
$paper-color: #eee;
$accent-color: #295;

$content-width: 45rem;
$autocard-width: 30rem;
$head-height: 4rem;
$toggle-height: 2.5rem;

$font-size-body: 1.0rem;
$font-size-header: 1.2rem;
$font-size-footer: 0.7rem;
$font-size-button: 1.3rem;

$full-pad: 1.0rem;
$half-pad: 0.5rem;


html {
    font-family: $base-font;
    color: $text-color;
    line-height: 1.3;
    font-size: 16px;
}
@media (min-width: 25em) {
    html { font-size: 17px; }
}
@media (min-width: 40em) {
    html { font-size: 18px; }
}
@media (min-width: 55em) {
    html { font-size: 20px; }
}
@media (min-width: 70em) {
    html { font-size: 22px; }
}


html {
    background-color: $accent-color;
    margin: 0;
    height: 100%;
    body {
        margin: 0;
        height: 100%;
        display: flex;
        flex-direction: column;
        #main-wrap, #footer-wrap {
            max-width: $content-width;
            width: 100%;
            margin: 0 auto;
            padding: $full-pad;
            background-color: $paper-color;
        }
        #main-wrap, #about-wrap {
            flex: 1 0 auto;
        }
        #footer-wrap {
            padding-bottom: $half-pad;
            text-align: center;
            flex-shrink: 0;
            .footer {
                font-size: $font-size-footer;
            }
        }
    }
}

.half-width {
    width: 50%;
    display: inline-block;
    margin: 0;
    padding: 0;
    border: 0;
}

a, a:visited, .card-name {
    color: $accent-color;
    cursor: pointer;
    text-decoration: none;
}

a:hover, .card-name:hover {
    color: #000;
    text-decoration: none;
}

h1, h2, h3 {
    font-family: $head-font;
    text-transform: lowercase;
}

.head {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    height: $head-height;
    .avatar-wrap, .title-wrap, .toggle-wrap {
        display: inline-block;
    }
    .avatar-wrap {
        line-height: 0;
        img {
            height: $head-height;
            border-radius: 50%;
            overflow: hidden;
        }
    }
    .title-wrap {
        flex-grow: 1;
        .title, .subtitle {
            margin: 0;
        }        
    }
    .toggle-wrap {
        height: $toggle-height;
        width: $toggle-height;
        border: 0.2rem solid $text-color;
        border-radius: 50%;
        overflow: hidden;

        .toggle {
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            border-radius: 50%;
            overflow: hidden;
            cursor: pointer;
            font-size: 2rem;
            .toggle-text {
                margin: 0 auto;
            }
        }
        #hide-about {
            display: none;
        }
    }
}


#about {
    display: none;
    .deck-list {
        display: flex;
        align-items: flex-start;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        .deck-section {
            .deck-line {
                white-space: nowrap;
                list-style-type: none;
                padding: 0;
            }
        }
    }
}

#main {
    .teaser-wrap, .opener-wrap, .summary-wrap, .button-wrap, .cards-wrap {
        padding: $half-pad;
    }
    .teaser {
        font-size: $font-size-header;
        .turn-order {
            font-weight: 900;
        }
    }
    #opener-button, #play-button {
        width: 100%;
        padding: $half-pad;
        font-size: $font-size-button;
    }
    .opener-cards {
        display: flex;
        justify-content: space-between;
        img.card {
            border-radius: 5%;
            overflow: hidden;
            width: 19%;
        }
        img.card:not(:first-child) {
            margin-left:-5.5%;
        }
    }
}

.mana-symbol {
    height: $font-size-body;
}

.summary-turn {
    margin: $half-pad 0;
}

p.summary-line {
    margin: 0;
}

#autocard-backdrop {
    position: fixed;
    /* Some wiggle room since things move when scrolling */
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    z-index: 998;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    flex-direction: column;
    justify-content: center;
    #autocard {
        color: #fff;
        z-index: 999;
        width: $autocard-width;
        max-width: 50%;
        border-radius: 5%;
        overflow: hidden;
        margin: 0 auto;
    }
}


